NEXT_PUBLIC_FOCACCIA_NETWORK_MODE=tunnel
NEXT_PUBLIC_FOCACCIA_SUPABASE_URL=https://focaccia-api.share.zrok.io
NEXT_PUBLIC_FOCACCIA_WEB_URL=https://focaccia-web.share.zrok.io
NEXT_PUBLIC_FOCACCIA_TICKETS_URL=https://focaccia-tickets.share.zrok.io
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
