EXPO_PUBLIC_FOCACCIA_NETWORK_MODE=local
EXPO_PUBLIC_FOCACCIA_LOCAL_HOST=192.168.1.50
EXPO_PUBLIC_FOCACCIA_SUPABASE_URL=http://192.168.1.50:54331
EXPO_PUBLIC_FOCACCIA_WEB_URL=http://192.168.1.50:3000
EXPO_PUBLIC_FOCACCIA_TICKETS_URL=http://192.168.1.50:3001
EXPO_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
